[D-BUS Service]
Name=org.freedesktop.impl.portal.desktop.shana
Exec=/usr/local/lib/xdg-desktop-portal-shana
SystemdService=xdg-desktop-portal-shana.service
